@font-face {
	font-family:'LR';
	src:url(../fonts/LR.ttf);
}
.LR{
	font-family: 'LR' ,sans-serif;
}

@font-face {
	font-family:'LB';
	src:url(../fonts/LB.ttf);
}
.LB{
	font-family: 'LB' ,sans-serif;
}
 
body{
	font-family: 'LR' ,sans-serif;
}


/* Box Shadows */

.bsr{
	box-shadow: 0 5px 10px rgba(198, 44, 40, .1);
}

/* colors */
.clg{
	color: #E9E9E9;
}
.cg{
	color: #C4C4C4;
}
.cb{
	color: #393939;
}
.cgr{
	color: #93B93A;
}
.cbl{
	color: #41ABD7;
}


.bglg{
	background-color: #E9E9E9
}
.bgg{
	background-color: #C4C4C4;
}
.bgb{
	background-color: #393939;
}
.bggr{
	background-color: #93B93A;
}
.bgbl{
	background-color: #41ABD7;
}





/* Font weights */
.fw9{
	font-weight: 900;
}
.fw8{
	font-weight: 800;
}
.fw7{
	font-weight: 700;
}
.fw6{
	font-weight: 600;
}
.fw5{
	font-weight: 500;
}
.fw4{
	font-weight: 400;
}
.fw3{
	font-weight: 300;
}
.fwb{
	font-weight: bold;
}
.fwm{
	font-weight: 500;
}
.fwl{
	font-weight: lighter;
}

/* font Sizes */
.fz10{
	font-size: 10px !important;
}
.fz12{
	font-size: 12px !important;
}
.fz14{
	font-size: 14px !important;
}
.fz16{
	font-size: 16px !important;
}
.fz18{
	font-size: 18px !important;
}
.fz20{
	font-size: 20px !important;
}
.fz22{
	font-size: 22px !important;
}
.fz24{
	font-size: 24px !important;
}
.fz26{
	font-size: 26px !important;
}
.fz28{
	font-size: 28px !important;
}
.fz30{
	font-size: 30px !important;
}
.fz40{
	font-size: 40px !important;
}
.fz50{
	font-size: 50px !important;
}


/* Borders */

.bn{
	border: none;
}
.br0{
	border-radius: 0;
}
.br10{
	border-radius: 10px;
}
.br20{
	border-radius: 20px;
}
.br30{
	border-radius: 30px;
}
.br40{
	border-radius: 40px;
}
.br50{
	border-radius: 50px;
}

.brc{
	border-radius: 50%;
}

/* Anchor Tags */
.tdn{
	text-decoration: none;
}
.tdu{
	text-decoration: underline;
}


/* Postions */
.posr{
	position: relative;
}
.posf{
	position: fixed;
}


/* overflows */
.oxh{
	overflow-x: hidden;
}
.oyh{
	overflow-y: hidden;
}
.oxs{
	overflow-x: scroll;
}
.oys{
	overflow-y: scroll;
}
